@inject HttpClient Http
@using System.Text.Json
@using System.Text.Json.Serialization
@using WhiteDentalClinic.Shared.Models

@if (appointmentsByUser == null)
{
    <p><em>No dentist appointments found.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Date time</th>
                <th>Customer ID</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var app in appointmentsByUser)
            {
                <tr>
                    <td>@app.Id</td>
                    <td>@app.DateTime</td>
                    <td>@app.CustomerId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<AppointmentResponse> appointmentsByUser = new List<AppointmentResponse>();

    protected override async Task OnInitializedAsync()
    {
        //default dentist ID
        Guid currentRequestId = Guid.Parse("89336c8e-84b6-4bd2-8be0-3cf98ac96598");    //by default an ID but need to be modify (Dentist / Customer!)
        var temp = await Http.GetFromJsonAsync<ApiResult<IEnumerable<AppointmentResponse>>>($"/api/Appointment/allapp/dentist{currentRequestId}");
        appointmentsByUser = temp.Result.ToList();
    }
}