@inherits LayoutComponentBase
@inject NavigationManager NavManager


<!-- Responsive navbar-->
<NavMenu />

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <!-- Call to Action-->
    <!-- Content Row-->
    @Body
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; White Dental Clinic 2023</p></div>
</footer>
}