@inherits LayoutComponentBase
@inject NavigationManager NavManager
@using Blazored.Toast.Configuration

<!-- Responsive navbar-->
<NavMenu />

<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <!-- Call to Action-->
    <!-- Content Row-->
    @Body

    <BlazoredToasts />
</div>
<!-- Footer-->
<footer class="py-5">

    <div class="container px-4 px-lg-5">
        <p class="m-0 text-center text-dark">Copyright &copy; White Dental Clinic 2023</p>
        </div>
        
</footer>
}