@attribute [Route(Routes.About)]

<br />
<br />

    <div class="middle">
        <div style="background-image:url('img/homeImage.jpg');">
            <p>
                <br> <br>
                Dental clinic services  <br>
                <font size="5px"> We care about your teeth </font>
            </p>
        </div>
    </div>
<br />
<br />

<MudPaper Height="400px" Width="100%" >
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudPaper Height="400px" Width="100%" Square="true" Class="mud-theme-primary">
            <font color="#000"> We are dental medical center </font> <br> <br>

            <font color="#000" size="5px"> We Have Medicare Plan Options for You! </font> <br> <br>

            Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt, pharetra eros nec, posuere odio. Nullam eget bibendum sem, venenatis lacinia justo. Duis aliquet lobortis neque, eget volutpat nulla iaculis a. <br><br>

            In hac habitasse platea dictumst. Praesent condimentum justo justo, at ultricies diam accumsan vitae. Donec ac elementum diam. Ut quam orci, posuere quis lacus sed, vehicula rhoncus massa. Nunc volutpat nibh nulla, tincidunt egestas tellus faucibus nec. <br><br>
            <br>
        </MudPaper>
    </MudContainer>
</MudPaper>


@code {

}
