@attribute [Route(Routes.About)]
@inject NavigationManager NavManager


<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <h1>White Dental Clinic</h1>
        <h2>
            Established in 2015, we are a family based dental surgery in London. We are located closely to the University of Warwick.
        </h2>
        <a class="btn btn-get-started" onclick="@(() => {NavManager.NavigateTo(Routes.NewAppointment);})">Make an appointment</a>
        <br />
        <br />
        <br />
    </div>
</section>

<!-- End Hero -->

<main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
        <div class="container">

            <div class="row">
                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Why choose White Dental Clinic?</h3>
                        <p>
                            Prevention is at the heart of everything we do at Whide Dental Clinic: we want to help you keep your teeth for life.
                        </p>
                        <div class="text-center">
                            <a class="btn more-btn" onclick="@(() => {NavManager.NavigateTo(Routes.Services);})">Learn More <i class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Corporis voluptates sit</h4>
                                    <p>
                                        To decide on the best course of treatment for you, we first listen. Only by listening can we understand your needs.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Ullamco laboris ladore pan</h4>
                                    <p>
                                        Patients can be confident that our standards of cleanliness comply with current guidelines.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0">
                                    <i class="bx bx-images"></i>
                                    <h4>Labore consequatur</h4>
                                    <p>
                                        We welcome patient feedback in order to continue to improve our service levels.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- End Why Us Section -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                    <a href="https://www.youtube.com" class="glightbox play-btn mb-4"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                    <h3>
                        Quality, affordable and convenient dental care
                    </h3>
                    <p>Dental care is an area where everyone is looking for the best service in absolutely every sense of the word.
                        This is exactly what White Dental Clinic™ aim to deliver. At White Dental Clinic™ we focus purely on you and getting you to look and feel your very best. 
                        This begins with a healthier brighter smile.
                    </p>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="index">Crowns</a></h4>
                        <p class="description">A crown is a cap that is placed over a tooth and held in place by dental adhesive or cement.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="index">Bridges</a></h4>
                        <p class="description">Bridges are usually made of a precious metal. If the bridge will show, porcelain is then bonded to the base. Sometimes, there are other non-precious metals used in the base for strength.</p>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="bx bx-atom"></i></div>
                        <h4 class="title"><a href="index">Veneers</a></h4>
                        <p class="description">Veneers are thin, custom-made shells crafted of tooth-coloured materials designed to cover the front side of teeth to improve the overall appearance of teeth. They are made of either thin plastic resin or porcelain.</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="fas fa-user-md"></i>
                        <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Doctors</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="far fa-hospital"></i>
                        <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Departments</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-flask"></i>
                        <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Research Labs</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="fas fa-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Awards</p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

</main>

@code {

}
