@attribute [Route(Routes.Index)]
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<Syncfusion.Blazor.Buttons.SfButton @onclick="@(() => {NavManager.NavigateTo(Routes.NewAppointment);})">
    My appointments are here
</Syncfusion.Blazor.Buttons.SfButton>
